<%= form_for @manga, html: {mutlipart: true } do |form| %>
  <% if manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manga.errors.count, "error") %> prohibited this manga from being saved:</h2>

      <ul>
      <% manga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :manga_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :manga_author %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :manga_description %>
  </div>

  <div class="field">
    <%= form.label :stock_quantity %>
    <%= form.number_field :stock_quantity, id: :manga_stock_quantity %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

 <% if @manga.image.exists? %>
    <%= link_to "Remove Image", remove_image_path(@manga), method: :delete %>

<% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
