<p id="notice"><%= notice %></p>

<%= paginate @mangas %>
<% if @mangas.empty? %>
  <p>No Products found for keyword <%= params[:search] %></p>
<% else %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Stock quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mangas.each do |manga| %>
      <tr>
        <td><%= manga.title %></td>
        <td><%= manga.author %></td>
        <td><%= manga.description %></td>
        <td><%= manga.stock_quantity %></td>
        <td><%= link_to 'Show', manga %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
