<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @manga.title %>
</p>

<%= link_to image_tag(@manga.image.url(:med)), @manga.image.url %>

<p>
  <strong>Author:</strong>
  <%= @manga.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manga.description %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @manga.stock_quantity %>
</p>

<%
if session[:content].empty?
        session[:content] = Array.new
end
%>
<%= link_to "Add to Cart", add_path, :method => "add_to_cart"%>
<%= link_to 'Edit', edit_manga_path(@manga) %>
<%= link_to 'Back', mangas_path %>
