<header><h1 class="title"><center>One Stop Manga Shop!</h1></center>

<div class="topnav" id="myTopnav">
  <%= link_to 'Home', mangas_path %>
  <%= link_to 'Categories', categories_path %>
  <%= link_to 'Contact', contact_index_path %>
  <%= link_to 'About', about_index_path %>
  <%= link_to 'Shopping Cart', cart_path %>
  <a><%= form_tag(mangas_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Manga" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %></a>   
</div></header>